.daily-agenda-main {
    flex: 1;
    padding: 1.5rem 2rem;
    background-color: #fff;
    overflow-x: auto;
    margin-left: 240px;
}

.agenda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-date {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}

.date-nav-btn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.date-nav-btn:hover {
    background-color: #E8EDFB;
}

.filter-select {
    padding: 6px 14px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.time-filter-row {
    margin: 1.5rem 0 1rem;
}

.time-filter {
    background: #f4f4f4;
    border-radius: 6px;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.agenda-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 12px;
}

.agenda-grid {
    display: grid;
    grid-template-rows: auto repeat(8, 60px);
    position: relative;
    overflow-x: auto;
    margin-top: 1rem;
}

.grid-header-placeholder {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4px;
}

.scroll-btn {
    background: #E8EDFB;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    padding-bottom: 9px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 30px;
    position: absolute;
}

.scroll-btn:hover {
    background-color: #dee8ff;
    box-shadow: 0 0px 8px rgba(108, 108, 108, 0.1);
    transition: all 0.2s ease;
}

.scroll-btn:disabled {
    opacity: 0.4;
    cursor: normal;
}

.scroll-btn.left {
    left: 20px;
}

.scroll-btn.right {
    right: 0px;
}

.grid-header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-header-left-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

.clock-btn {
    background: #E8EDFB;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    height: 30px;
    width: auto;
    min-width: 42px;
}

.clock-btn:hover {
    background-color: #dee8ff;
    box-shadow: 0 0px 8px rgba(108, 108, 108, 0.1);
    transition: all 0.2s ease;
}

.dropdown-arrow {
    font-size: 10px;
    color: #333;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.employee-header {
    text-align: center;
    padding: 8px 4px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.employee-header img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.employee-header span {
    display: block;
    margin-top: 6px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: bold;
}

.employee-header:not(:last-child):not(.clock-header),
.time-cell:not(:last-child) {
    border-right: 1px solid #e1e1e1;
}

.employee-header.last {
    border-right: none !important;
}

.time-cell.last {
    border-right: none !important;
}

.hour-cell {
    padding-left: 20px;
    font-size: 13px;
    text-align: left;
    align-items: center;
    transform: translateY(-8px);
}

.time-cell {
    position: relative;
    border-top: 1px solid #e1e1e1;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.appointment {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(80, 80, 80, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 2px;
    z-index: 2;
}

.appointment strong {
    font-size: 15px;
    font-weight: 600;
}

.appointment div {
    font-size: 16px;
}

.appointment small {
    font-size: 14px;
    color: #5F7161;
}

.appointment-45 strong {
    font-size: 18px;
}

.appointment-45 div {
    font-size: 18px;
}

.appointment-45 small {
    font-size: 16px;
}

.appointment-30 strong {
    font-size: 19px;
}

.appointment-30 div {
    font-size: 19px;
}

.appointment-30 small {
    font-size: 17px;
}

.appointment-15 strong {
    font-size: 20px;
}

.appointment-15 div {
    font-size: 19px;
}

.appointment-15 small {
    font-size: 18px;
}

.clock-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    border-bottom: none;
}

.appointments-layer {
    pointer-events: none;
}

.hour-cell,
.time-cell {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    box-sizing: border-box;
}

.agenda-grid {
    grid-auto-rows: 60px;
}

.time-dropdown {
    position: absolute;
    top: 62px;
    left: 0;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
    width: 80px;
    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.time-dropdown.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.time-dropdown-option {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
}

.time-dropdown-option:hover {
    background-color: #f4f4f4;
}

@media (max-width: 1024px) {
    .daily-agenda-main {
        margin-left: 268px;
        padding: 1rem;
    }

    .agenda-header {
        display: grid;
        grid-template-columns: 1fr 200px;
    }

    .nav-date {
        font-size: 16px;
    }

    .employee-header span {
        font-size: 16px;
    }

    .filter-select {
        width: 94%;
    }

    .scroll-btn.left {
        left: 20px;
    }

    .scroll-btn.right {
        right: 14px;
    }
}

@media (max-width: 768px) {
    .daily-agenda-main {
        margin-left: 0px;
        padding: 1rem;
    }

    .agenda-header {
        display: grid;
        grid-template-columns: 1fr 200px;
    }

    .employee-header img {
        width: 50px;
        height: 50px;
    }

    .employee-header span {
        font-size: 14px;
    }

    .hour-cell {
        font-size: 12px;
        padding-left: 10px;
    }


    .agenda-grid {
        grid-template-columns: 60px repeat(auto-fit, minmax(180px, 1fr));
    }

    .clock-btn {
        margin-left: -30px;
        padding: 4px 8px;
        font-size: 14px;
    }

    .scroll-btn {
        top: 30px;
        font-size: 15px;
        padding: 6px 10px;
    }

    .scroll-btn.left {
        left: 8px;
    }

    .scroll-btn.right {
        right: 8px;
    }

    .filter-select {
        padding: 6px 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .agenda-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-date span {
        font-size: 14px;
    }

    .filter-select {
        font-size: 12px;
        width: 100%;
    }

    .date-nav-btn {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }

    .employee-header span {
        font-size: 13px;
    }
}